<!-- My Changes -->
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; margin-top: 250px;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">JobSeeker Registration</h3>
<form [(ngModel)]="some" [formGroup]="jobSeekerRegisterForm" (ngSubmit)="submitJobSeekerDetails()">
    <div class="container">

        <div class="form-group">
            <input type="text" formControlName="name" placeholder="Name" class="form-control" />
        </div>
        <div *ngIf="jobSeekerRegisterForm.controls['name'].hasError('required')" class="alert alert-danger">
            Please Add Name
        </div>
        <div *ngIf="jobSeekerRegisterForm.controls['name'].hasError('minlength')" class="alert alert-danger">
            Please Add Maximum Length 3
        </div>

        <br />
        <div class="form-group">
            <input type="text" formControlName="username" placeholder="Username" class="form-control" />
            <div *ngIf="jobSeekerRegisterForm.controls['username'].hasError('required')" class="alert alert-danger">
                Please Add Username
            </div>
            <div *ngIf="jobSeekerRegisterForm.controls['username'].hasError('minlength')" class="alert alert-danger">
                Please Add Minimum Length 3
            </div>
            <div *ngIf="jobSeekerRegisterForm.controls['username'].hasError('maxlength')" class="alert alert-danger">
                Please Add Maximum Length 6
            </div>
        </div>

        <br />
        <div class="form-group">
            <input type="password" formControlName="password" placeholder="Password" class="form-control" />
            <div *ngIf="jobSeekerRegisterForm.controls['password'].hasError('required')" class="alert alert-danger">
                Please Add Password
            </div>
            <div *ngIf="jobSeekerRegisterForm.controls['password'].hasError('minlength')" class="alert alert-danger">
                Please Add Minimum Length 3
            </div>
            <div *ngIf="jobSeekerRegisterForm.controls['password'].hasError('maxlength')" class="alert alert-danger">
                Please Add Maximum Length 6
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="text" formControlName="address" class="form-control" placeholder="Address" />
            <div *ngIf="jobSeekerRegisterForm.controls['address'].hasError('required')" class="alert alert-danger">
                Please Add Address
            </div>
            <div *ngIf="jobSeekerRegisterForm.controls['address'].hasError('minlength')" class="alert alert-danger">
                Please Add Minimum Length 3
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="text" formControlName="contactNo" class="form-control" placeholder="Contact Number" />
            <div *ngIf="jobSeekerRegisterForm.controls['contactNo'].hasError('required')" class="alert alert-danger">
                Please Add Contact Number
            </div>
            <div *ngIf="jobSeekerRegisterForm.controls['contactNo'].hasError('minlength')" class="alert alert-danger">
                Please Add Minimum Length 10
            </div>
            <div *ngIf="jobSeekerRegisterForm.controls['contactNo'].hasError('maxlength')" class="alert alert-danger">
                Please Add Maximum Length 10
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="text" formControlName="email" class="form-control" placeholder="Email" />
            <div *ngIf="jobSeekerRegisterForm.controls['email'].hasError('required')" class="alert alert-danger">
                Please Add Email
            </div>
            <div *ngIf="jobSeekerRegisterForm.controls['email'].hasError('minlength')" class="alert alert-danger">
                Please Add Maximum Length 3
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="text" formControlName="skillset" class="form-control" placeholder="Skill Set" />
            <div *ngIf="jobSeekerRegisterForm.controls['skillset'].hasError('required')" class="alert alert-danger">
                Please Add Skills Set
            </div>
            <div *ngIf="jobSeekerRegisterForm.controls['skillset'].hasError('minlength')" class="alert alert-danger">
                Please Add Maximum Length 4
            </div>
        </div>
        <br />

        <br />
        <div class="form-group">
            <select formControlName="roles" class="form-control" placeholder="Roles">
                <option>Fresher</option>
                <option>Experienced</option>
            </select> 
            <div *ngIf="jobSeekerRegisterForm.controls['roles'].hasError('required')" class="alert alert-danger">
                Please Add Roles
            </div>
           
        </div>
        <br />
        <div class="form-group">
            <button type="submit" [disabled]="!some" class="btn btn-warning btn-lg ms-2" routerLink="/login">Submit</button>
        </div>
        <br />
    </div>
</form>
