<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; margin-top: 250px;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Employee Registration</h3>
<br><br>
<form [formGroup]="employeeRegisterForm" (ngSubmit)="submitEmployeeDetails()">
    <div class="container">

        <div class="form-group">
            <input type="text" formControlName="userName" placeholder="Username" class="form-control" />
        </div>
        <div *ngIf="employeeRegisterForm.controls['userName'].hasError('required')" class="alert alert-danger">
            Please Add Username
        </div>
        <div *ngIf="employeeRegisterForm.controls['userName'].hasError('minlength')" class="alert alert-danger">
            Please Add Minimum Length 3
        </div>
        <div *ngIf="employeeRegisterForm.controls['userName'].hasError('maxlength')" class="alert alert-danger">
            Please Add Maximum Length 12
        </div>

        <br />
        <div class="form-group">
            <input type="password" formControlName="password" placeholder="Password" class="form-control" />
            <div *ngIf="employeeRegisterForm.controls['password'].hasError('required')" class="alert alert-danger">
                Please Add Password
            </div>
            <div *ngIf="employeeRegisterForm.controls['password'].hasError('minlength')" class="alert alert-danger">
                Please Add Minimum Length 6
            </div>
            <div *ngIf="employeeRegisterForm.controls['password'].hasError('maxlength')" class="alert alert-danger">
                Please Add Maximum Length 12
            </div>
        </div>
        <br />
        <div class="form-group">
            <select formControlName="role" class="form-control" placeholder="Roles">
                <option>HR</option>
                <option>Tech HR</option>
            </select> 
            <div *ngIf="employeeRegisterForm.controls['role'].hasError('required')" class="alert alert-danger">
                Please Add Roles
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="text" formControlName="orgnizationName" class="form-control" placeholder="Organization Name" />
            <div *ngIf="employeeRegisterForm.controls['orgnizationName'].hasError('required')" class="alert alert-danger">
                Please Add Organization Name
            </div>
            <div *ngIf="employeeRegisterForm.controls['orgnizationName'].hasError('minlength')" class="alert alert-danger">
                Please Add Maximum Length 4
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="text" formControlName="contact" class="form-control" placeholder="Contact Number" />
            <div *ngIf="employeeRegisterForm.controls['contact'].hasError('required')" class="alert alert-danger">
                Please Add Contact Number
            </div>
            <div *ngIf="employeeRegisterForm.controls['contact'].hasError('minlength')" class="alert alert-danger">
                Please Add Minimum Length 10
            </div>
            <div *ngIf="employeeRegisterForm.controls['contact'].hasError('maxlength')" class="alert alert-danger">
                Please Add Maximum Length 10
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="text" formControlName="email" class="form-control" placeholder="Email" />
            <div *ngIf="employeeRegisterForm.controls['email'].hasError('required')" class="alert alert-danger">
                Please Add Email
            </div>
        </div>
        <br />
        
        <div class="form-group">
            <input type="text" formControlName="location" class="form-control" placeholder="Branch Location" />
            <div *ngIf="employeeRegisterForm.controls['location'].hasError('required')" class="alert alert-danger">
                Please Add Location
            </div>
            <div *ngIf="employeeRegisterForm.controls['location'].hasError('minlength')" class="alert alert-danger">
                Please Add Minimum Length 3
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="text" formControlName="description" class="form-control" placeholder="Description" />
            <div *ngIf="employeeRegisterForm.controls['description'].hasError('required')" class="alert alert-danger">
                Please Add Description
            </div>
            <div *ngIf="employeeRegisterForm.controls['description'].hasError('minlength')" class="alert alert-danger">
                Please Add Minimum Length 3
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="text" formControlName="address" class="form-control" placeholder="Address" />
            <div *ngIf="employeeRegisterForm.controls['address'].hasError('required')" class="alert alert-danger">
                Please Add Address
            </div>
            <div *ngIf="employeeRegisterForm.controls['address'].hasError('minlength')" class="alert alert-danger">
                Please Add Minimum Length 3
            </div>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-warning btn-lg ms-2">Submit</button>
        </div>
        <br />
    </div>
</form>
